*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 3%;
    padding-bottom: 3%;
    background: #b9cbed;
    font-family: Arial,"微软雅黑";
    font-size: 100%;
}
.back{
    width:60%;
    margin:auto;
    height:auto;
    background-color: #e2edff;
    padding:3% 5%;
}
.head{
    width: auto;
    height: auto;
    background: #b9cbed;
    padding: 5% 5%;
    padding-bottom: 2%;
}
.title{
    color: white;
    padding: 0 5%;
}
.lead{
    width: 30%;
    padding: 15px 5%;
    border: 1px solid white;
    margin: 3% 7%;
    line-height:150%;
}
.lead ul{ color: white;margin: 0;padding-left:0;}

.lead a{
    text-decoration: none;
}
.lead a:link{
    color: white;
}
.lead a:visited{
    color: white;
}
.lead a:hover{
    color: lightslategrey;
}
.photo{
    float: right;
    margin: 1% 10%;
    width: 180px;
    border: 5px solid white;
    border-radius: 25px;
}
.main{
    width: auto;
    margin: 2% auto;
    padding: 1% 5%;
    background: white;
    line-height: 150%;
    text-align: center;
}
.main_title{
    color: white;
    background-color: #b9cbed;
    display:inline-block;
    margin:1% auto;
    padding: 1%;

}
.main_content{
    width: auto;
    /*background: aqua;*/
    text-align: left;

}
.main ul{
    width: 30%;
    float: left;
    margin:2%;margin-left: 5%;
    text-align: left;

}
.main li{ list-style-type: circle}
.main a{
    text-decoration: none;
}
.list a:link{
    color: black;
}
.listt a:visited{
    color: black;
}
.list a:hover{
    color: lightslategrey;
}
.main img{
    border-radius: 10px;
}

.list{
    width: auto;
    height: 280px;
    margin: 10px auto;
    border: 2px solid #b9cbed;

}

.list_left{
    width: 10%;height: 280px;
    background: #b9cbed;
    float: left;
    display: table;

}
.list_left_word{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}
.list_right{
    height: 260px;
    width: 18%;
    display: table;
    float: left;
    margin: 0 1.25%;
    padding: 10px 1%;

    display: table;
}

.list_right_video{
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     padding-top: 5px;
     font-size: small;
 }
.list_right_up{
    width: 50px;height: 50px;
    border-radius: 50%;
    background: hotpink;
    margin: 12px;
    float: left;
    overflow:hidden;
    border: 3px solid #b9cbed;
}
.game{
}

.clear{ clear: both; }