*{
    margin: 0;
    padding: 0;
}
body{

    background: #b9cbed;
    font-family: Arial,"微软雅黑";
    font-size: small;
}
.back{
    width:94%;
    margin:auto;
    height:auto;
    background-color: #e2edff;
    padding:5% 3%;
}
.head{
    width: auto;
    height: auto;
    background: #b9cbed;
    padding: 5% 5%;
    padding-bottom: 2%;
}
.title{
    color: white;
    padding: 0 5%;
    width: auto;
    text-align: center;
    font-size: xx-large;
}

.lead{
    width:20vw;
    padding: 15px 10%;
    border: 2px solid white;
    margin: 3vw 5vw;
    line-height:150%;
    font-size: medium;
}
.lead ul{ color: white;margin: 0;padding-left:0;}

.lead a{
    text-decoration: none;
}
.lead a:link{
    color: white;
}
.lead a:visited{
    color: white;
}
.lead a:hover{
    color: lightslategrey;
}
.photo{
    float: right;
    margin: 5vw 5vw;
    width: 30vw;

    border-radius: 25px;
}
.main{
    width: auto;
    margin: 2% auto;
    padding: 1% 5%;
    background: white;
    line-height: 150%;
    text-align: center;
}
.main p{
    margin: 3vw;
}
.main_title{
    color: white;
    background-color: #b9cbed;
    text-align: center;
    margin-top:2vw ;
    margin-bottom: 3vw;
    padding: 2%;




}
.main_content{
    width: auto;
    /*background: aqua;*/
    text-align: left;

}
 .main ul{


     margin:0 5vw;
     text-align: left;

 }
.main li{ list-style-type: circle}
.main a{
    text-decoration: none;
}
.list a:link{
    color: black;
}
.listt a:visited{
    color: black;
}
.list a:hover{
    color: lightslategrey;
}
.main img{
    border-radius: 10px;
}

.list{
    width: auto;
    margin: 2vw auto;
    border: 2px solid #e2edff;
    text-align: center;


}

.list_left{
    width: 100%;
    background: #e2edff;
    float: left;

}
.list_left_word{

    text-align: center;
    color: white;
}
.list_right{
    width: 90%;
    margin: 0 3vw;


}

.list_right_video{
    width: 42%;
    text-align: center;
    margin: 4%;
    font-size: smaller;
    float: left;

}
.list_right_up{
    width: 15vw;height: 15vw;
    border-radius: 50%;
    margin: 2.5%;
    float: left;
    overflow:hidden;
    border: 3px solid #e2edff;
}

.game{
}

.clear{ clear: both; }