body{
    margin: 0 ;
    padding-top: 3vh;
    width: 100vmin;
    height: auto;
    padding-bottom: 3vh;
    background: #b9cbed;
}
.back{
    width:90vw;
    margin: 0 auto;
    height:auto;
    background-color: #e2edff;
    padding:5vw;
}

.head{
    width: auto;
    height: auto;
    margin: 3% auto;
    padding-left: 3%;
    padding-right: 3%;
}

.title{
    font-size: 3rem;
    font-weight: bold;
    float: left;
    width: 100%;
}
.lead{
    width: 30vw;
    border: 1px solid;
    margin-left: 3vw;margin-top: 10vw;
    float: left;
}
.photo{
    width: 30vw;height: 30vw;
    border-color: #b9cbed;
    border-style:solid;
    border-width: 3vw;
    margin: 2vw;margin-right:5vw;margin-top: 50vw;
    border-radius:15px;
    float: right;
.main{
    width: auto;
    margin: 1% auto;
    padding-left: 3%;padding-right: 3%;padding-top: 2%;padding-bottom: 2%;
    background: white;
    border-radius:25px;
    line-height: 150%;
}
.main ul{
    width: 30%;
    float: left;
    margin:0;

}
.main ul.circle {list-style-type: circle}

}
.inside{
    width: auto;
    margin: 10px auto;
    border: 1px solid #b9cbed;
}
.inside1{
    width: 80px;
    float: left;
    margin: 0;
    padding: 10px;
    border-right: 1px solid;
    text-align: center;
    background: #b9cbed;
    color: white;
}
.inside2{
    width: auto;
    float: right;
}
.clear{ clear: both; }
*/